/*
// COLORS, VARIABLES
// ======
*/
/*
// IMPORTS
// =======
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
body {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: #cee3e9;
}

.advice-id {
  font-size: 12px;
  text-transform: uppercase;
  color: #52ffa8;
}

.advice-text {
  font-size: 18px;
}

@media (min-width: 900px) {
  .advice-id {
    font-size: 18px;
  }
  .advice-text {
    font-size: 28px;
  }
}

/*
// LAYOUT
// ======
*/
body {
  margin: 120px 15px 0;
  background-color: #323a49;
}

.advice-id {
  margin-bottom: 30px;
}

.divider {
  position: relative;
  margin-top: 30px;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (min-width: 900px) {
  body {
    display: -ms-grid;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
  }
  .advice {
    max-width: 540px;
  }
  .advice-id {
    margin-bottom: 40px;
  }
  .divider {
    margin-top: 40px;
  }
}

/*
// COMPONENTS
// ==========
*/
.advice {
  position: relative;
  padding: 40px 30px 60px;
  border-radius: 10px;
  background-color: #4e5d73;
}

.divider {
  height: 17px;
  width: 100%;
  background-color: #cee3e9;
  -webkit-mask: url("../images/pattern-divider-mobile.svg");
          mask: url("../images/pattern-divider-mobile.svg");
  mask-type: alpha;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}

.btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: #52ffa8;
}

.btn:hover {
  -webkit-box-shadow: 0 0 30px rgba(82, 255, 168, 0.8);
          box-shadow: 0 0 30px rgba(82, 255, 168, 0.8);
}

@media (min-width: 900px) {
  .advice {
    padding: 50px 50px 70px;
  }
  .divider {
    -webkit-mask: url("../images/pattern-divider-desktop.svg");
            mask: url("../images/pattern-divider-desktop.svg");
    mask-type: alpha;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: cover;
            mask-size: cover;
    -webkit-mask-position: center;
            mask-position: center;
  }
}
